body { font-family: 'Malgun Gothic', sans-serif; margin: 0; padding: 0; }
.site-header { background-color: #2c3e50; color: #fff; padding: 24px 36px; margin-bottom: 0; border-bottom: 2px solid #fff; }
.site-header h1 { margin: 0; font-size: 33px; }
.site-header .site-subtitle { font-weight: normal; font-size: 21px; color: #bdc3c7; margin-left: 12px; }